@font-face {
    font-family: 'Tajawal';
    src: url('../fonts/Tajawal-Regular.ttf')  format("truetype"),
         local('Tajawal');
  }

html, body{
    direction: rtl;
    text-align: right;
}

body{
    font-family: 'Tajawal', sans-serif;
}

.dropdown-menu .dropdown-item{
    text-align: right;
}

form{
    background: #eee;
    width: 60%;
    margin: auto;
    margin-top: 20px ;
    margin-bottom: 10px ;
    border-radius: 15px;
    padding: 10px 28px  ;
    border: 1px solid #222 ;

}
.formlogin{
    width: 50%;
    margin-top: 35px;
}
label{
    font-size: 18px
}
.btn-form{
    display: block;
    margin: 0 auto;
}
.form-title{
    text-align: center;
    font-size: 28px;
    margin: 12px;
    font-weight: 600;
}

