{% load static %}
{% load bootstrap4 %}

<!DOCTYPE html>

<html lang="ar">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% bootstrap_css %}
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
    </head>
    <body>
        <header>
            <!--Start Navbar-->
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">
                    <img src="{% static '/images/img.png' %}" alt="شعار مدونة" width="30px">
                    مدونتى</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">الرئيسية <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        دوراتي
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">دورة بايثون</a>
                        <a class="dropdown-item" href="#">دورة دجانجو</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">دورة نظام إدارة التعلم</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">من أنا</a>
                    </li>
                    </ul>
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item"><a  href="#">دخول</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">تسجيل</a></li>
                    </ul>
                </div>
            </nav>
            <!--End Navbar-->
        </header>

        <section>
            <div class="container-fluid">
                <div class="row m-4">
                    <div class="col-md-8">التدوينات</div>
                    <div class="col-md-4">
                        <div class="card mb-4">
                            <h3 class="text-center bg-secondary text-light p-2">آخر التدوينات</h3>
                            <ul>
                                <li><a href="#">التدوينة الأولى</a></li>
                                <li><a href="#">التدوينة الثانية</a></li>
                                <li><a href="#">التدوينة الثالثة</a></li>
                                <li><a href="#">التدوينة الرابعة</a></li>
                                <li><a href="#">التدوينة الخامسة</a></li>
                            </ul>
                        </div>
                        <div class="card mb-4">
                            <h3 class="text-center bg-secondary text-light p-2">آخر التعليقات</h3>
                            <ul>
                                <li><a href="#">التعليق الأول</a></li>
                                <li><a href="#">التعليق الثاني</a></li>
                                <li><a href="#">التعليق الثالث</a></li>
                                <li><a href="#">التعليق الرابع</a></li>
                                <li><a href="#">التعليق الخامس</a></li>                                
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer class="bg-secondary">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md">
                        <div class="card-group mt-3">
                            <div class="card m-3 ">
                                <h3 class="card-title text-center border-bottom p-2 m-3 ">من أنا</h3>
                                <div class="card-body">
                                    
                                    من أنا نص تجريبي من أنا نص تجريبي من أنا نص تجريبي من أنا نص تجريبي من أنا نص تجريبي من أنا نص تجريبي من أنا نص تجريبي من أنا نص تجريبي من أنا نص تجريبي من أنا نص تجريبي من أنا نص تجريبي من أنا نص تجريبي من أنا نص تجريبي من أنا نص تجريبي  
                                    
                                </div>
                            </div>
                            <div class="card m-3">
                                <h3 class="card-title text-center border-bottom p-2 m-3">مواقع هامة</h3>
                                <div class="card-body">
                                    <ul>
                                        <li><a href="#">الموقع الأول</a></li>
                                        <li><a href="#">الموقع الثاني</a></li>
                                        <li><a href="#">الموقع الثالث</a></li>
                                        <li><a href="#">الموقع الرابع</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card m-3">
                                <h3 class="card-title text-center border-bottom p-2 m-3">وسائل التواصل الاجتماعي</h3>
                                <h4 class="card-body text-center">
                                    <a class="text-secondary" href=""><i class="fab fa-facebook"></i></a>
                                    <a class="text-secondary" href=""><i class="fab fa-twitter"></i></a>
                                    <a class="text-secondary" href=""><i class="fab fa-instagram"></i></a>
                                    <a class="text-secondary" href=""><i class="fab fa-youtube"></i></a>
                                    <a class="text-secondary" href=""><i class="fab fa-telegram"></i></a>
                                    <a class="text-secondary" href=""><i class="fab fa-linkedin"></i></a>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row p-2">
                    <div class="col-md text-center">
                        <small class="text-light">&copy; جميع الحقوق محفوظة</small>
                    </div>
                </div>
            </div>
        </footer>

{% bootstrap_javascript jquery='min' %}        
    </body>
</html>