{%extends 'baseUser.html'%}


{%block page%}

{% if user.is_authenticated %}
<div class="formlogin" >
you already login. are you want to <a href="{% url 'logout' %}">logout</a>
</div>
{% else %}

<form class="formlogin" method="post">
{% csrf_token %}

<h2 class=" form-title">تسجيل الدخول </h2>
    <div class="form-group row">
        <label class="form-label col-md" >اسم المستخدم</label>
        <div class="col-md-9">
            <input type="text" name="username" class="form-control" placeholder="اسم المستخدم">
        </div>
    </div>

    <div class="form-group row">
        <label class="form-label col-md" >كلمة المرور</label>
        <div class="col-md-9">
            <input type="password" name="password" class="form-control" placeholder="كلمة المرور ">
        </div>
    </div>

    <input class=" btn btn-info btn-form" width="130px" type="submit" value=" تسجيل دخول">

</form>
{% endif %}
{%endblock%}